@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #e8e8e8;
  font-family: Poppins-Regular, sans-serif;
  text-decoration: none; }

body {
  background: #1f1f1f;
  min-height: 100vh; }
  body .checkbox-styled {
    display: none; }
    body .checkbox-styled:checked + .label-styled {
      background: #ffffff; }
      body .checkbox-styled:checked + .label-styled .button-text {
        color: black; }
  body .label-styled {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 0 12px;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s; }
    body .label-styled .button-text {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      transition: all 0.3s; }
  body #root .header-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    background: #1f1f1f;
    align-self: center;
    flex-direction: column;
    z-index: 999;
    transition: background 0.3s; }
    body #root .header-wrapper .user-panel {
      display: flex;
      flex-direction: row;
      height: 50px;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      gap: 20px;
      width: 100%;
      padding: 0 2vw;
      z-index: 999; }
      body #root .header-wrapper .user-panel .user-panel__item {
        color: rgba(232, 232, 232, 0.7);
        display: flex;
        align-items: center;
        height: 100%;
        text-wrap: nowrap; }
        body #root .header-wrapper .user-panel .user-panel__item:hover {
          color: #e8e8e8; }
      body #root .header-wrapper .user-panel .fullname {
        height: 100%;
        display: flex;
        gap: 2px; }
        body #root .header-wrapper .user-panel .fullname span {
          color: rgba(232, 232, 232, 0.7); }
        body #root .header-wrapper .user-panel .fullname span.sep {
          margin-left: 2px;
          margin-right: 2px; }
        body #root .header-wrapper .user-panel .fullname:hover span {
          color: #e8e8e8; }
      body #root .header-wrapper .user-panel .cart {
        display: flex;
        margin-left: auto;
        gap: 5px; }
        body #root .header-wrapper .user-panel .cart .count {
          border: 1px solid #a93650;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 65%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          transition: background 0.4s; }
          body #root .header-wrapper .user-panel .cart .count span {
            font-weight: 700;
            color: #e8e8e8; }
        body #root .header-wrapper .user-panel .cart span {
          color: rgba(232, 232, 232, 0.7); }
        body #root .header-wrapper .user-panel .cart svg {
          height: 100%;
          aspect-ratio: 1/1; }
          body #root .header-wrapper .user-panel .cart svg path {
            fill: rgba(232, 232, 232, 0.7); }
        body #root .header-wrapper .user-panel .cart:hover .count {
          background: #a93650;
          transition: background 0.4s; }
        body #root .header-wrapper .user-panel .cart:hover span {
          color: #e8e8e8; }
        body #root .header-wrapper .user-panel .cart:hover svg path {
          fill: #e8e8e8; }
    body #root .header-wrapper .main-panel {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 5px 3vw; }
      body #root .header-wrapper .main-panel .nav {
        display: flex;
        flex-direction: row;
        gap: 15px; }
        body #root .header-wrapper .main-panel .nav .nav-item {
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 5px;
          color: rgba(232, 232, 232, 0.7);
          font-weight: 700;
          font-size: 22px;
          transition: color 0.3s;
          text-wrap: nowrap; }
          body #root .header-wrapper .main-panel .nav .nav-item::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: 0;
            background: #a93650;
            transform: scale(0, 1);
            border-radius: 10px;
            box-shadow: 0 0 10px 2px #a93650;
            transition: all 0.3s ease; }
          body #root .header-wrapper .main-panel .nav .nav-item:hover::after, body #root .header-wrapper .main-panel .nav .nav-item:focus::after {
            transform: scale(1, 1); }
          body #root .header-wrapper .main-panel .nav .nav-item:hover {
            color: #e8e8e8;
            transition: color 0.3s; }
          body #root .header-wrapper .main-panel .nav .nav-item.selected {
            color: #e8e8e8; }
            body #root .header-wrapper .main-panel .nav .nav-item.selected::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 4px;
              left: 0;
              bottom: 0;
              background: #a93650;
              transform: scale(1, 1);
              border-radius: 10px;
              box-shadow: 0 0 10px 2px #a93650;
              transition: all 0.3s ease; }
      body #root .header-wrapper .main-panel .login-button {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        margin-left: auto;
        padding: 10px;
        cursor: pointer; }
        body #root .header-wrapper .main-panel .login-button span {
          color: rgba(232, 232, 232, 0.7);
          font-weight: 700;
          font-size: 22px;
          transition: color 0.3s; }
        body #root .header-wrapper .main-panel .login-button svg path {
          fill: rgba(232, 232, 232, 0.7);
          transition: fill 0.3s; }
        body #root .header-wrapper .main-panel .login-button:hover span {
          color: #e8e8e8;
          transition: color 0.3s; }
        body #root .header-wrapper .main-panel .login-button:hover svg path {
          fill: #a93650;
          transition: fill 0.3s; }
    body #root .header-wrapper.moved {
      background: black;
      transition: background 0.3s; }
  body #root main {
    padding: 14rem 5vw 5rem 5vw; }
    body #root main .page {
      display: flex;
      flex-direction: column;
      gap: 35px; }
      body #root main .page h1 {
        font-size: 36px;
        font-weight: 800; }
      body #root main .page .employers {
        margin: 0 auto;
        width: 100%;
        display: grid;
        gap: 1rem; }
        body #root main .page .employers .employer-card {
          display: flex;
          flex-direction: row;
          background: rgba(232, 232, 232, 0.05);
          border-radius: 7px;
          cursor: pointer;
          transition: background 0.3s; }
          body #root main .page .employers .employer-card .photo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center; }
            body #root main .page .employers .employer-card .photo-wrapper .employer-card__photo {
              border-radius: 7px; }
          body #root main .page .employers .employer-card .employer-card__info {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            padding: 10px 13px 10px 13px; }
            body #root main .page .employers .employer-card .employer-card__info .bio {
              display: flex;
              flex-direction: column; }
              body #root main .page .employers .employer-card .employer-card__info .bio .fullname {
                font-weight: 600;
                font-size: 22px;
                line-height: 1.1; }
              body #root main .page .employers .employer-card .employer-card__info .bio .experience {
                font-size: 21px;
                margin-top: 15px;
                line-height: 1; }
              body #root main .page .employers .employer-card .employer-card__info .bio .works-count {
                font-size: 21px; }
              body #root main .page .employers .employer-card .employer-card__info .bio .categories {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                gap: 4px;
                flex-wrap: wrap; }
                body #root main .page .employers .employer-card .employer-card__info .bio .categories .category {
                  border: 1px solid white;
                  border-radius: 7px;
                  padding: 2px 4px;
                  font-size: 13px;
                  text-align: center;
                  text-transform: uppercase; }
          body #root main .page .employers .employer-card .advice {
            position: absolute;
            opacity: 0;
            bottom: 0px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            font-size: 14px;
            margin-top: auto;
            text-align: center;
            transition: all 0.1s; }
          body #root main .page .employers .employer-card:hover {
            background: black;
            transition: background 0.3s; }
            body #root main .page .employers .employer-card:hover .employer-card__info .advice {
              opacity: 1;
              bottom: 5px;
              transition: all 0.1s; }
      body #root main .page .works-photos-tiles {
        margin: 0 auto;
        display: grid;
        gap: 1rem; }
        body #root main .page .works-photos-tiles .tile-wrapper {
          background: pink;
          position: relative;
          height: 240px;
          aspect-ratio: 4/3;
          cursor: pointer;
          transition: all 0.2s; }
          body #root main .page .works-photos-tiles .tile-wrapper img {
            height: 100%;
            width: 100%; }
          body #root main .page .works-photos-tiles .tile-wrapper .spoiler {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: transparent;
            transition: background 0.2s; }
          body #root main .page .works-photos-tiles .tile-wrapper.active {
            scale: 1.3;
            position: relative;
            z-index: 2;
            box-shadow: 0 0 1px 1px black; }
            body #root main .page .works-photos-tiles .tile-wrapper.active .spoiler {
              background: transparent; }
            body #root main .page .works-photos-tiles .tile-wrapper.active:hover .spoiler {
              background: transparent; }
          body #root main .page .works-photos-tiles .tile-wrapper:hover {
            transition: all 0.2s; }
            body #root main .page .works-photos-tiles .tile-wrapper:hover .spoiler {
              display: block;
              background: rgba(0, 0, 0, 0.3);
              transition: background 0.2s; }
  @media screen and (max-width: 600px) {
    body #root main {
      padding: 14rem 1vw; }
      body #root main .page .employers .employer-card .employer-card__info .bio .fullname {
        font-size: 15px; }
      body #root main .page .employers .employer-card .employer-card__info .bio .experience,
      body #root main .page .employers .employer-card .employer-card__info .bio .works-count {
        font-size: 14px; }
      body #root main .page .employers .employer-card .employer-card__info .bio .categories .category {
        font-size: 9px; }
      body #root main .page .works-photos-tiles {
        grid-template-columns: repeat(3, 1fr); }
        body #root main .page .works-photos-tiles .tile-wrapper {
          height: 140px; } }
  @media screen and (min-width: 600px) and (max-width: 1099px) {
    body #root main .page .employers .employer-card .employer-card__info .bio .fullname {
      font-size: 18px; }
    body #root main .page .employers .employer-card .employer-card__info .bio .experience,
    body #root main .page .employers .employer-card .employer-card__info .bio .works-count {
      font-size: 17px; }
    body #root main .page .employers .employer-card .employer-card__info .bio .categories .category {
      font-size: 11px; }
    body #root main .page .works-photos-tiles {
      grid-template-columns: repeat(3, 1fr); }
      body #root main .page .works-photos-tiles .tile-wrapper {
        height: 140px; } }
  @media screen and (min-width: 1100px) {
    body #root main .page .employers {
      grid-template-columns: repeat(2, 1fr); }
    body #root main .page .works-photos-tiles {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (min-width: 1510px) {
    body #root main .page .employers {
      grid-template-columns: repeat(2, 1fr); }
    body #root main .page .works-photos-tiles {
      grid-template-columns: repeat(5, 1fr); } }

/*# sourceMappingURL=index.css.map */
