$color-primary: #a93650;
$color-secondary: #1f1f1f;
$color-font: #e8e8e8;

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $color-font;
  font-family: Poppins-Regular, sans-serif;
  text-decoration: none;
}

body {
  background: $color-secondary;
  min-height: 100vh;

  .checkbox-styled {
    display: none;

    &:checked + .label-styled {
      background: #ffffff;

      .button-text {
        color: black;
      }
    }
  }

  .label-styled {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 0 12px;
    border-radius: 7px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;

    .button-text {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      transition: all 0.3s;
    }
  }

  #root {
    .header-wrapper {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      width: 100%;
      background: $color-secondary;
      align-self: center;
      flex-direction: column;
      z-index: 999;
      transition: background 0.3s;

      .user-panel {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        gap: 20px;
        width: 100%;
        padding: 0 2vw;
        z-index: 999;

        .user-panel__item {
          color: rgba($color-font, 0.7);
          display: flex;
          align-items: center;
          height: 100%;
          text-wrap: nowrap;

          &:hover {
            color: rgba($color-font, 1);
          }
        }

        .fullname {
          height: 100%;
          display: flex;
          gap: 2px;

          span {
            color: rgba($color-font, 0.7);
          }

          span.sep {
            margin-left: 2px;
            margin-right: 2px;
          }

          &:hover {
            span {
              color: rgba($color-font, 1);
            }
          }
        }

        .cart {
          display: flex;
          margin-left: auto;
          gap: 5px;

          .count {
            border: 1px solid $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            transition: background 0.4s;

            span {
              font-weight: 700;
              color: rgba($color-font, 1);
            }
          }

          span {
            color: rgba($color-font, 0.7);
          }

          svg {
            height: 100%;
            aspect-ratio: 1/1;

            path {
              fill: rgba($color-font, 0.7);
            }
          }

          &:hover {
            .count {
              background: $color-primary;
              transition: background 0.4s;
            }

            span {
              color: rgba($color-font, 1);
            }

            svg {
              path {
                fill: rgba($color-font, 1);
              }
            }
          }
        }

        .admin {

        }
      }

      .main-panel {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 5px 3vw;

        .nav {
          display: flex;
          flex-direction: row;
          gap: 15px;

          .nav-item {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 5px;
            color: rgba($color-font, 0.7);
            font-weight: 700;
            font-size: 22px;
            transition: color 0.3s;
            text-wrap: nowrap;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 4px;
              left: 0;
              bottom: 0;
              background: $color-primary;
              transform: scale(0, 1);
              border-radius: 10px;
              box-shadow: 0 0 10px 2px $color-primary;
              transition: all 0.3s ease;
            }

            &:hover::after,
            &:focus::after {
              transform: scale(1, 1);
            }

            &:hover {
              color: rgba($color-font, 1);
              transition: color 0.3s;
            }

            &.selected {
              color: rgba($color-font, 1);

              &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
                bottom: 0;
                background: $color-primary;
                transform: scale(1, 1);
                border-radius: 10px;
                box-shadow: 0 0 10px 2px $color-primary;
                transition: all 0.3s ease;
              }
            }
          }
        }

        .login-button {
          display: flex;
          flex-direction: row;
          gap: 7px;
          align-items: center;
          margin-left: auto;
          padding: 10px;
          cursor: pointer;

          span {
            color: rgba($color-font, 0.7);
            font-weight: 700;
            font-size: 22px;

            transition: color 0.3s;
          }

          svg {
            path {
              fill: rgba($color-font, 0.7);
              transition: fill 0.3s;
            }
          }

          &:hover {
            span {
              color: rgba($color-font, 1);
              transition: color 0.3s;
            }

            svg {
              path {
                fill: rgba($color-primary, 1);
                transition: fill 0.3s;
              }
            }
          }
        }
      }

      &.moved {
        background: black;
        transition: background 0.3s;
      }
    }

    main {
      padding: 14rem 5vw 5rem 5vw;

      .page {
        display: flex;
        flex-direction: column;
        gap: 35px;

        h1 {
          font-size: 36px;
          font-weight: 800;
        }

        .employers {
          margin: 0 auto;
          width: 100%;
          display: grid;
          gap: 1rem;

          .employer-card {
            display: flex;
            flex-direction: row;
            background: rgba($color-font, 0.05);
            border-radius: 7px;
            cursor: pointer;
            transition: background 0.3s;

            .photo-wrapper{
              display: flex;
              align-items: center;
              justify-content: center;

              .employer-card__photo {
                border-radius: 7px;
              }
            }

            .employer-card__info {
              height: 100%;
              position: relative;
              display: flex;
              flex-direction: row;
              flex-grow: 1;
              padding: 10px 13px 10px 13px;

              .bio {
                display: flex;
                flex-direction: column;

                .fullname {
                  font-weight: 600;
                  font-size: 22px;
                  line-height: 1.1;
                }

                .experience {
                  font-size: 21px;
                  margin-top: 15px;
                  line-height: 1;
                }

                .works-count {
                  font-size: 21px;
                }

                .categories {
                  display: flex;
                  flex-direction: row;
                  margin-top: 10px;
                  gap: 4px;
                  flex-wrap: wrap;

                  .category {
                    border: 1px solid white;
                    border-radius: 7px;
                    padding: 2px 4px;
                    font-size: 13px;
                    text-align: center;
                    text-transform: uppercase;
                  }
                }
              }
            }

            .advice {
              position: absolute;
              opacity: 0;
              bottom: 0px;
              left: 50%;
              width: 100%;
              transform: translateX(-50%);
              font-size: 14px;
              margin-top: auto;
              text-align: center;
              transition: all 0.1s;
            }

            &:hover {
              background: black;
              transition: background 0.3s;

              .employer-card__info {
                .advice {
                  opacity: 1;
                  bottom: 5px;
                  transition: all 0.1s;
                }
              }
            }
          }
        }

        .works-photos-tiles {
          margin: 0 auto;
          display: grid;
          gap: 1rem;

          .tile-wrapper {
            background: pink;
            position: relative;
            height: 240px;
            aspect-ratio: 4/3;
            cursor: pointer;
            transition: all 0.2s;

            img {
              height: 100%;
              width: 100%;
            }

            .spoiler {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: transparent;
              transition: background 0.2s;
            }

            &.active {
              scale: 1.3;
              position: relative;
              z-index: 2;
              box-shadow: 0 0 1px 1px black;

              .spoiler {
                background: transparent;
              }

              &:hover {
                .spoiler {
                  background: transparent;
                }
              }
            }

            &:hover {
              transition: all 0.2s;

              .spoiler {
                display: block;
                background: rgba(0, 0, 0, 0.3);
                transition: background 0.2s;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    #root {
      main {
        padding: 14rem 1vw;

        .page {
          .employers{
            .employer-card{
              .employer-card__info{
                .bio{
                  .fullname{
                    font-size: 15px;
                  }

                  .experience,
                  .works-count{
                    font-size: 14px;
                  }

                  .categories {
                    .category {
                      font-size: 9px;
                    }
                  }
                }
              }
            }
          }

          .works-photos-tiles{
            grid-template-columns: repeat(3, 1fr);

            .tile-wrapper{
              height: 140px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1099px) {
    #root {
      main {
        .page {
          .employers{
            .employer-card{
              .employer-card__info{
                .bio{
                  .fullname{
                    font-size: 18px;
                  }

                  .experience,
                  .works-count{
                    font-size: 17px;
                  }

                  .categories {
                    .category {
                      font-size: 11px;
                    }
                  }
                }
              }
            }
          }

          .works-photos-tiles{
            grid-template-columns: repeat(3, 1fr);

            .tile-wrapper{
              height: 140px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    #root {
      main {
        .page {
          .employers {
            grid-template-columns: repeat(2, 1fr);
          }

          .works-photos-tiles{
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }

  @media screen and (min-width: 1510px) {
    #root {
      main {
        .page {
          .employers {
            grid-template-columns: repeat(2, 1fr);
          }

          .works-photos-tiles{
            grid-template-columns: repeat(5, 1fr);
          }
        }
      }
    }
  }
}