# Игнорировать папку .idea во всех подкаталогах
**/.idea

# Игнорировать папку node_modules во всех подкаталогах
**/node_modules

# Игнорировать файлы с расширением .DS_Store (файлы macOS)
**/.DS_Store

# Игнорировать файлы с расширением .git (файлы Git)
**/.git

# Игнорировать файлы с расширением .gitignore (файлы Git)
**/.gitignore